---
http_interactions:
- request:
    method: get
    uri: https://dataservice.accuweather.com/currentconditions/v1/28143?apikey=dmG0mtIfQ1p5Y5R3trDtwocydt0KON1d
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ratelimit-Limit:
      - '50'
      Ratelimit-Remaining:
      - '32'
      Akamai-Grn:
      - 0.c44fde17.1656437906.1d28d69f
    body:
      encoding: UTF-8
      string: '[{"LocalObservationDateTime":"2022-06-28T23:28:00+06:00","EpochTime":1656437280,"WeatherText":"Cloudy","WeatherIcon":7,"HasPrecipitation":false,"PrecipitationType":null,"IsDayTime":false,"Temperature":{"Metric":{"Value":28.3,"Unit":"C","UnitType":17},"Imperial":{"Value":83.0,"Unit":"F","UnitType":18}},"MobileLink":"http://www.accuweather.com/en/bd/dhaka/28143/current-weather/28143?lang=en-us","Link":"http://www.accuweather.com/en/bd/dhaka/28143/current-weather/28143?lang=en-us"}]'
  recorded_at: Tue, 28 Jun 2022 17:38:26 GMT
recorded_with: VCR 6.1.0
