---
http_interactions:
- request:
    method: get
    uri: https://dataservice.accuweather.com/currentconditions/v1/28143/historical/24?apikey=dmG0mtIfQ1p5Y5R3trDtwocydt0KON1d
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ratelimit-Limit:
      - '50'
      Ratelimit-Remaining:
      - '33'
      Akamai-Grn:
      - 0.e54fde17.1656437827.2bf0204b
    body:
      encoding: UTF-8
      string: '[{"LocalObservationDateTime":"2022-06-28T22:58:00+06:00","EpochTime":1656435480,"WeatherText":"Cloudy","WeatherIcon":7,"HasPrecipitation":false,"PrecipitationType":null,"IsDayTime":false,"Temperature":{"Metric":{"Value":28.5,"Unit":"C","UnitType":17},"Imperial":{"Value":83.0,"Unit":"F","UnitType":18}},"MobileLink":"http://www.accuweather.com/en/bd/dhaka/28143/current-weather/28143?lang=en-us","Link":"http://www.accuweather.com/en/bd/dhaka/28143/current-weather/28143?lang=en-us"},{"LocalObservationDateTime":"2022-06-28T21:57:00+06:00","EpochTime":1656431820,"WeatherText":"Cloudy","WeatherIcon":7,"HasPrecipitation":false,"PrecipitationType":null,"IsDayTime":false,"Temperature":{"Metric":{"Value":28.9,"Unit":"C","UnitType":17},"Imperial":{"Value":84.0,"Unit":"F","UnitType":18}},"MobileLink":"http://www.accuweather.com/en/bd/dhaka/28143/current-weather/28143?lang=en-us","Link":"http://www.accuw[...]
